body {
	margin: 0;
	background-image:url("/PizzaNow/images/aboutusbg.jpg");
	height:100%;
	background-size:cover;
}

#title {
	color: white;

	/*max-width: 70%;*/
	/*margin: auto;*/
	/*padding: 2%;*/
	/*text-align: center;*/
	/*background-color: #000000ad;*/
	/*border-radius: 10%;*/
}
