body {
	margin: 0;
	background-image:url("/PizzaNow/images/aboutusbg.jpg");
	height:100%;
	background-size:cover;
}

#desc {
	width: 98%;
	height: 50%;
	padding: 1%;
	background-color: #00000078;
	color: white;
}

#title {
	font-size: 45px;
	padding-left: 2%;
}

#float-child {
	width: 48%;
	float: left;
	padding-top: 2%;
	line-height: 2;
}

#float-child .left-first {
	font-size: 30px;
	padding-left: 10%;
}

#float-child .right-first {
	font-size: 20px;
}
