body {
	background-color: #230202;
}

* {
	box-sizing: border-box;
}

.page-title {
	font-size: x-large;
	font-weight: bold;
}

.row {
	display: -ms-flexbox; /* IE10 */
	display: flex;
	-ms-flex-wrap: wrap; /* IE10 */
	flex-wrap: wrap;
	margin: 0 -16px;
}

.col-50 {
	-ms-flex: 50%; /* IE10 */
	flex: 50%;
}

.col-75 {
	-ms-flex: 75%; /* IE10 */
	flex: 75%;
}

.col-50,
.col-75 {
	padding: 0 16px;
}

.container {
	background-color: antiquewhite;
	padding: 0px 20px 15px 20px;
	border-radius: 3px;
	margin: 0 5% 5% 5%;
}

.first-row {
	display: flex;
}

.row-item {
	width: 25%;
	margin: 0 2% 2% 2%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 3px;
}

input[type=text] {
	width: 100%;
	margin-bottom: 20px;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 3px;
}

label {
	margin-bottom: 10px;
	display: block;
	width: 30%;
}

input[type=tel] {
	width: 50%;
	margin-bottom: 20px;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 3px;
}

.btn {
	background-color: #ffc300;
	border: solid;
	padding: 1%;
	text-align: center;
	cursor: pointer;
	width: 30%;
	font-weight: bold;
	margin: 0 60%;
	font-size: large;
}

.success-msg {
	text-align: center;
	font-size: x-large;
	font-weight: bold;
	padding: 2%;
}

@media (max-width: 800px) {
	.row {
		flex-direction: column-reverse;
	}
}
