body {
	margin: 0;
	height:100%;
	background-color: #230202;
}

#main-container {
	width: 100%;
}

#left-pane {
	float: left;
	margin: 0 5% 0 2%;
	padding: 1% 2%;
	background-color: white;
	width: 24%;
}

#left-pane .details {
	margin: 2% 0;
	width: 250px;
}

#left-pane .details .name {
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 5%;
	white-space: nowrap;
	overflow: hidden !important;
	text-overflow: ellipsis;
}

#left-pane .details .desc {
	font-size: 14px;
	color: #545252;
	margin: 2% 0 3% 0%;
	overflow: hidden !important;
	text-overflow: ellipsis;
}

#right-pane {
	float: right;
	margin: 0 2% 0 0;
	padding: 1% 2%;
	background-color: white;
	width: 66%;
}

.left-body {
	margin-left: auto;
	margin-right: auto;
}

#right-pane .radio-inline {
	margin: 1% 5%;
}

#grid-container {
	display: grid;
	grid-column-gap: 3%;
	grid-row-gap: 3%;
	grid-template-columns: auto auto auto auto;
}

#grid-item label {
	border: solid;
	-webkit-font-smoothing: antialiased;
	text-align: center;
	padding: 5%;
	border-radius: 10%;
	cursor: pointer;
	width: 100%;
}

#grid-item input[type=checkbox] {
	display: none;
}

#grid-item input:checked + label {
	border: solid green;
	color: green;
}

input:checked + label:before {
	content: "\2713 ";
	font-weight: bold;
	font-size: x-large;
}

#grid-item .check {
	visibility: hidden;
}

#grid-item input:checked + label .check {
	visibility: visible;
}

#grid-item input.checkbox:checked + label:before {
	content: "";
}

#grid-item .details {
	float: right;
}

#right-pane button {
	background-color: #ffc300;
	border: solid;
	padding: 1%;
	text-align: center;
	font-size: 15px;
	cursor: pointer;
	width: 70%;
	margin-top: 5%;
	float: right;
	font-weight: bold;
}

#right-pane .quantity  {
	margin-top: 5%;
	width: 10%;
	background-color: #ffc300;
	padding: 1%;
	font-size: 15px;
	border: solid;
	font-weight: bold;
}

#right-pane input[type=number]::-webkit-inner-spin-button {
	opacity: 1;
}
