
/* navigation bar styling */
ul{
	list-style-type: none !important;
	overflow: hidden !important;
	height: 15% !important;
	width: 65% !important;
}

li{
	float: right !important ;
	margin: 1% !important;
	font-size: larger !important;
}


li a {
	display: block !important; /* display the navigation bar list in block */
	color: white !important;
	text-align: center !important;
	padding: 25px 20px !important;
	text-decoration: none !important;
	width: 100% !important;
}

/* adding the hover effect to the navigation bar */
li a:hover:not(.active) {
	background-color: #373635;
}

img.logo {
	display: inline-block;
	float:left;
	width: 25%;
	height: 15%;
	margin-left: 5%;
}

i {
	margin-right: 10%;
}
