body {
	margin: 0;
	background-image:url("/PizzaNow/images/homepagebg.jpg");
	height:100%;
	background-size:cover;
}

#welcome {
	font-family: cursive;
	max-width: 70%;
	margin: auto;
	padding: 2%;
	text-align: center;
	background-color: #000000ad;
	color: white;
	border-radius: 10%;
}

#h1 {
	font-size: xx-large;
}

#para {
	line-height: 200%;
	font-size: larger;
}
