body {
	margin: 0;
	height:100%;
	background-color: #230202;
}

h2 {
	width: 100%;
	text-align: center;
	border-bottom: 3px solid white;
	line-height: 0.1em;
	grid-column-start: 1;
	grid-column-end: 5;
}

h2 .title {
	color: white;
	background:#230202;
	padding:0 10px;
}

#grid-container {
	display: grid;
	grid-column-gap: 5%;
	grid-row-gap: 10%;
	grid-template-columns: auto auto auto auto;
	padding: 0 1%;
	margin-bottom: 3%;
}

#grid-item {
	background-color: white;
	padding: 2%;
}

#grid-item .details {
	margin: 2% 0;
	width: 250px;
}

#grid-item .details .desc {
	font-size: 15px;
	color: #545252;
	margin: 2% 0;
}
